.body {
  // margin-left: 16.5625rem;
  margin-left: 7rem;
  transition: all 0.5s ease;
  background: #f4f7fa;
  padding: 2rem;
  overflow: hidden;
  min-width: 0;
  width: calc(100% - 7rem);
  box-sizing: border-box;
  position: relative;
}

.body-trimmed {
  width: calc(100vw - 5rem);
  margin-left: 5rem;
  transition: all 0.5s ease;
}

.body-md-screen {
  width: calc(100vw - 5rem);
  margin-left: 5rem;
  transition: all 0.5s ease;
}

:host {
  display: block;
  width: 100%;
}