.app-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
}

.app-container app-left-sidebar {
  flex-shrink: 0;
  display: flex;
}

.app-container app-main {
  flex: 1 1 auto;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}