.body {
  background: #f4f7fa;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
  padding: 2rem;
  transition: padding 0.3s ease;
  width: 100%;
  height: 100%;
}

.body.collapsed {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

:host {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
}